<div class="container position-relative" style="height: 90%">
  <div class="row d-flex align-items-center" style="height: 100%; width: 100%">
    <div class="w-100 justify-content-center" style="text-align: center">
      <%= image_tag asset_path('main_logo.png', size: "300x300", class: "mb-2") %>
      <h1 class="text-center text-dark kiwi_kaku">　旅を、共有しよう。</h1>
      <div class="mt-4">
        <% if user_signed_in? %>
          <%= link_to "このサイトについて", about_path, class: "btn btn-success mx-2" %>
        <% else %>
          <%= link_to "ゲストとしてログイン", users_guest_sign_in_path, method: :post, class: "btn btn-primary" %>
        <% end %>
        <br><br>
        <%= flash[:notice] %>
      </div><br>
    </div>
  </div>
</div>
