<div class="container d-flex align-items-center" style="height: 90%">
  <div class="row" style="width: 100%">
    <div class="mx-auto">
      <h2 class="text-center mb-3">旅スポ</h2>
      <%= link_to "new", new_spot_path, class: "btn btn-sm btn-secondary" %>
      <%= link_to "map", maps_path, class: "btn btn-sm btn-secondary" %>
    </div>
  </div>
</div>
