@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.kiwi_kaku {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

h1.kiwi_kaku {
  font-weight: 900;
}

.card-list-container::before,
.card-list-container::after {
  content: "";
  display: block;
  width: calc(100% / 4);
}

.card-list-container::before {
  order: 1;
}