<div class="container d-flex align-items-center h-100">
  <div class="mx-auto text-center">
    <span class="h1">企画を投稿しました</span><br><br>
    <%= link_to "企画ページを見る", plan_path(@id), class: "btn btn-outline-primary" %>
  </div>
</div>